.footer {

    // .footer__block

    &__block {
        border-top: 1px solid #e5e5e5;
    }

    // .footer__links-block

    &__links-block {
        display: flex;
        justify-content: space-between;
        padding: 34px 57px 45px 21px;

        border-bottom: 1px solid #e5e5e5;
    }

    // .footer__links-left

    &__contact-main {
        display: flex;
    }

    // .footer__links-title

    &__links-title {
        margin-bottom: 34px;
        font-size: 14px;
        font-weight: 400;
    }

    // .footer__links-link

    &__links-link {
        display: block;
        margin-bottom: 22px;
        font-family: 'Helveticaneue';
        font-size: 12px;
        &:hover {
            color: #e5e5e5;
        }
    }

    // .footer__links-right

    &__links-right {
    }

    // .footer__contact

    &__contact {
        display: flex;
    }

    // .footer__contact-questions

    &__contact-delivery {
        display: none;
    }

    // .footer__contact-number

    &__contact-number {
    }

    // .footer__contact-social

    &__contact-social {
        display: none;
    }

    // .footer__legal

    &__legal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 20px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    // .footer__legal-list

    &__legal-list {
        display: flex;

        & li {
            margin-right: 17px;
            list-style: none;
        }
        & a {
            font-family: 'Helveticaneue';
            font-size: 10px;
            font-weight: 700;
        }
    }

    // .footer__legal-social

    &__legal-social {
        display: flex;
        & a:first-child {
            margin-right: 20px;
        }
    }

    // .footer__license

    &__license {
        padding: 22px 20px;
        display: flex; 
        justify-content: space-between;
        & p {
            font-family: 'Helveticaneue';
            font-size: 10px;
            font-weight: 700;
        }
        & a {
            display: flex;
            align-items: center;
            font-family: 'Futura PT';
            font-size: 16px;
            & span {
                background: url('../img/fon.png') no-repeat center left/contain;
                width: 30px;
                height: 19px;
                display: flex;
                font-family: 'Helveticaneue';
                font-size: 10px;
                font-weight: 400;
                align-items: center;
                padding-left: 8px;
                margin-left: 6px;
            }

        }
    }

    // .footer__license-share

    &__license-share {
    }
}

.questions {
    padding: 20px 42px 42px 22px;
    border-right: 1px solid #e5e5e5;
    // .questions__title

    &__title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
    }

        // .question__link

    &__link {
        display: flex;
        align-items: center;
        font-family: 'Helveticaneue';
        font-size: 12px;
        &::before {
            content: url('../img/twi_ico.png');
            margin-right: 8px;
        }
        & span {
            font-weight: 700;
            padding-left: 3px;
        }
    }
}

.number {
    padding: 20px 23px 42px 22px;
    // .number__title

    &__title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    // .number__phone

    &__phone {
        font-family: 'Helveticaneue';
        font-size: 12px;
    }
}
