.single-item {
    display: flex;
    justify-content: center;
   & div {
    height: 530px;
    background: url('../img/promo-block.png') no-repeat center center / cover;
    width: 100%;
   }
}


.slick-dots {
  position: absolute;
  display: flex; 
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 0;
  bottom: -2%;
  list-style: none;
  text-align: center;
  border-top: 1px solid rgba(221, 221, 221, .4);
  li {
    position: relative;
    top: 46%;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4%;
    height: 8px;
    padding: 0;
    cursor: pointer;
    &:before {
        top: 1px;
        transition: all .5s;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #d1d1d1;
        position: absolute;
        border-radius: 60%;
      }
      &.slick-active:before {
        top: 1;      
        width: 6px;
        height: 6px;
        background-color: #f14a58;
        border-radius: 90%;
      }
    button {
        display: none;
      }
  }
}

.slick-prev, .slick-next {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}